[submodule "org-cliplink"]
	path = site-lisp/extensions/org-cliplink
	url = https://github.com/rexim/org-cliplink.git
[submodule "writeroom-mode"]
	path = site-lisp/extensions/writeroom-mode
	url = https://github.com/joostkremers/writeroom-mode.git
[submodule "org-pomodoro"]
	path = site-lisp/extensions/org-pomodoro
	url = https://github.com/marcinkoziej/org-pomodoro.git
[submodule "visual-fill-column"]
	path = site-lisp/extensions/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column.git
[submodule "alert"]
	path = site-lisp/extensions/alert
	url = https://github.com/jwiegley/alert.git
[submodule "auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "goto-line-preview"]
	path = site-lisp/extensions/goto-line-preview
	url = https://github.com/jcs090218/goto-line-preview.git
[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "projectile"]
	path = site-lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "dante"]
	path = site-lisp/extensions/dante
	url = https://github.com/jyp/dante.git
[submodule "lcr"]
	path = site-lisp/extensions/lcr
	url = https://github.com/jyp/lcr.git
[submodule "exec-path-from-shell"]
	path = site-lisp/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "haskell-mode"]
	path = site-lisp/extensions/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "markdown-mode"]
	path = site-lisp/extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
[submodule "lua-mode"]
	path = site-lisp/extensions/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "slime"]
	path = site-lisp/extensions/slime
	url = https://github.com/slime/slime.git
[submodule "symbol-overlay"]
	path = site-lisp/extensions/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "company-mode"]
	path = site-lisp/extensions/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "flycheck"]
	path = site-lisp/extensions/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "flycheck-relint"]
	path = site-lisp/extensions/flycheck-relint
	url = https://github.com/purcell/flycheck-relint.git
[submodule "flycheck-package"]
	path = site-lisp/extensions/flycheck-package
	url = https://github.com/purcell/flycheck-package.git
[submodule "flycheck-color-mode-line"]
	path = site-lisp/extensions/flycheck-color-mode-line
	url = https://github.com/flycheck/flycheck-color-mode-line.git
[submodule "dash"]
	path = site-lisp/extensions/dash
	url = https://github.com/magnars/dash.el.git
[submodule "f"]
	path = site-lisp/extensions/f
	url = https://github.com/rejeep/f.el.git
[submodule "auto-sudoedit"]
	path = site-lisp/extensions/auto-sudoedit
	url = https://github.com/ncaq/auto-sudoedit.git
[submodule "emacs-rime"]
	path = site-lisp/extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime.git
[submodule "cursor-chg"]
	path = site-lisp/extensions/cursor-chg
	url = https://github.com/emacsmirror/cursor-chg.git
[submodule "ahk-mode"]
	path = site-lisp/extensions/ahk-mode
	url = https://github.com/ralesi/ahk-mode.git
[submodule "mscl-mode"]
	path = site-lisp/extensions/mscl-mode
	url = https://github.com/Eason0210/mscl-mode.git
[submodule "multiple-cursors"]
	path = site-lisp/extensions/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "go-translate"]
	path = site-lisp/extensions/go-translate
	url = https://github.com/lorniu/go-translate.git
[submodule "rust-mode"]
	path = site-lisp/extensions/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "modern-cpp-font-lock"]
	path = site-lisp/extensions/modern-cpp-font-lock
	url = https://github.com/ludwigpacifici/modern-cpp-font-lock.git
[submodule "browse-kill-ring"]
	path = site-lisp/extensions/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "selectrum"]
	path = site-lisp/extensions/selectrum
	url = https://github.com/raxod502/selectrum.git
[submodule "orderless"]
	path = site-lisp/extensions/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "consult"]
	path = site-lisp/extensions/consult
	url = https://github.com/minad/consult.git
[submodule "embark"]
	path = site-lisp/extensions/embark
	url = https://github.com/oantolin/embark.git
[submodule "marginalia"]
	path = site-lisp/extensions/marginalia
	url = https://github.com/minad/marginalia.git
[submodule "prescient"]
	path = site-lisp/extensions/prescient
	url = https://github.com/raxod502/prescient.el.git
[submodule "which-key"]
	path = site-lisp/extensions/which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "session"]
	path = site-lisp/extensions/session
	url = https://github.com/emacsorphanage/session.git
[submodule "rainbow-delimiters"]
	path = site-lisp/extensions/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "vlf"]
	path = site-lisp/extensions/vlf
	url = https://github.com/m00natic/vlfi.git
[submodule "whole-line-or-region"]
	path = site-lisp/extensions/whole-line-or-region
	url = https://github.com/purcell/whole-line-or-region.git
[submodule "scratch"]
	path = site-lisp/extensions/scratch
	url = https://github.com/ieure/scratch-el.git
[submodule "page-break-lines"]
	path = site-lisp/extensions/page-break-lines
	url = https://github.com/purcell/page-break-lines.git
[submodule "unfill"]
	path = site-lisp/extensions/unfill
	url = https://github.com/purcell/unfill.git
[submodule "move-dup"]
	path = site-lisp/extensions/move-dup
	url = https://github.com/wyuenho/move-dup.git
[submodule "mode-line-bell"]
	path = site-lisp/extensions/mode-line-bell
	url = https://github.com/purcell/mode-line-bell.git
[submodule "list-unicode-display"]
	path = site-lisp/extensions/list-unicode-display
	url = https://github.com/purcell/list-unicode-display.git
[submodule "ibuffer-vc"]
	path = site-lisp/extensions/ibuffer-vc
	url = https://github.com/purcell/ibuffer-vc.git
[submodule "ibuffer-projectile"]
	path = site-lisp/extensions/ibuffer-projectile
	url = https://github.com/purcell/ibuffer-projectile.git
[submodule "highlight-escape-sequences"]
	path = site-lisp/extensions/highlight-escape-sequences
	url = https://github.com/dgutov/highlight-escape-sequences.git
[submodule "fullframe"]
	path = site-lisp/extensions/fullframe
	url = https://github.com/tomterl/fullframe.git
[submodule "disable-mouse"]
	path = site-lisp/extensions/disable-mouse
	url = https://github.com/purcell/disable-mouse.git
[submodule "diredfl"]
	path = site-lisp/extensions/diredfl
	url = https://github.com/purcell/diredfl.git
[submodule "dimmer"]
	path = site-lisp/extensions/dimmer
	url = https://github.com/gonewest818/dimmer.el.git
[submodule "diminish"]
	path = site-lisp/extensions/diminish
	url = https://github.com/myrjola/diminish.el.git
[submodule "diff-hl"]
	path = site-lisp/extensions/diff-hl
	url = https://github.com/dgutov/diff-hl.git
[submodule "default-text-scale"]
	path = site-lisp/extensions/default-text-scale
	url = https://github.com/purcell/default-text-scale.git
[submodule "command-log-mode"]
	path = site-lisp/extensions/command-log-mode
	url = https://github.com/lewang/command-log-mode.git
[submodule "color-theme-sanityinc-tomorrow"]
	path = site-lisp/extensions/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "color-theme-sanityinc-solarized"]
	path = site-lisp/extensions/color-theme-sanityinc-solarized
	url = https://github.com/purcell/color-theme-sanityinc-solarized.git
[submodule "beacon"]
	path = site-lisp/extensions/beacon
	url = https://github.com/Malabarba/beacon.git
[submodule "avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "anzu"]
	path = site-lisp/extensions/anzu
	url = https://github.com/emacsorphanage/anzu.git
[submodule "anaconda-mode"]
	path = site-lisp/extensions/anaconda-mode
	url =https://github.com/pythonic-emacs/anaconda-mode.git
[submodule "company-anaconda"]
	path = site-lisp/extensions/company-anaconda
	url = https://github.com/pythonic-emacs/company-anaconda.git
[submodule "company-quickhelp"]
	path = site-lisp/extensions/company-quickhelp
	url = https://github.com/company-mode/company-quickhelp.git
[submodule "pos-tip"]
	path = site-lisp/extensions/pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "switch-window"]
	path = site-lisp/extensions/switch-window
	url = https://github.com/dimitri/switch-window.git
[submodule "magit"]
	path = site-lisp/extensions/magit
	url = https://github.com/magit/magit.git
[submodule "magithub"]
	path = site-lisp/extensions/magithub
	url = https://github.com/vermiculus/magithub
[submodule "with-editor"]
	path = site-lisp/extensions/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "transient"]
	path = site-lisp/extensions/transient
	url = https://github.com/magit/transient.git